body{
    background: linear-gradient(45deg, slateblue, salmon);
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: auto;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#CA{
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
nav {
    background-color: #00003399;
}

#rule {
    width: 12em;
}